{% extends 'base.html.twig' %}

{% block marque %}# {{moto.id ~" "~ moto.nom}}{% endblock %}

{% block body %}
<h3> {{moto.marque}}</h3>

{{form(monForm)}}
{# Ici c'est une des manières de modifier l'agencement des formulaires #}
    {{ form_start(monForm)}}
        <div class="d-flex gap-3">
            {{ form_row(monForm.nom) }} 
            {{ form_row(monForm.marque) }}
            {{ form_row(monForm.prix) }}  
        </div>
        
    {{ form_end(monForm) }}
{% endblock %}
